body{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.tit{
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    text-align:center;
}
.container{
    background-color: #e2ecf5;
}
.p_from_url{
    font-size: 15px;
    text-align:center;
    font-family: 隶书;
}
.p_content_dis{
    font-weight: bold;
    font-family: 华文楷体;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
cite{color:blue;}

#question{
    text-align: center;
}